<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>取引履歴</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/history.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div>
    <a href="/home" id="history" class="btn btn-secondary">戻る</a>

    <table class="table">
        <tr>
            <th>あげた人</th>
            <th>もらった人</th>
            <th>コイン数</th>
            <th>メッセージ</th>
            <th>取引日時</th>
        </tr>
        <tr th:each="history : ${historylist}" th:object="${history}" th:if="${history != null}">
            <td th:text="*{sendId.name}"></td>
            <td th:text="*{receiveId.name}"></td>
            <td th:text="*{val}"></td>
            <td th:text="*{message}"></td>
            <td th:text="*{#dates.format(sendTime, 'yyyy/MM/dd HH:mm:ss')}"></td>
        </tr>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>